*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
:root{
  
}
.main_container{
  display: flex;
  flex-flow: column wrap;
  max-width: 100%;
  margin: 0 1rem;
  padding: 1rem;
  gap:1rem;
}

.btn{
  padding: .7rem;
  align-self: flex-end;
  width: max-content;
  border-style: none;
  color: #fff;
  background-color: rgb(85, 82, 82);

}
.selected {
  background-color: rgb(63, 52, 52);
  
}